.nav-link {
    padding: .5rem 0;
}
.side-nav {
	height: 100vh;
	position: sticky;
	z-index: 1000;
}
.header-bg {
	background: url('../img/header.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    border-radius: 10px;

}